---
const { type, color, className, ...rest } = Astro.props;
---
{
  type === "h1" ? (
    <h1 class={className} {...rest}>
      <slot />
    </h1>
  ) : type === "h2" ? (
    <h2 class={className} {...rest}>
      <slot />
    </h2>
  ) : type === "h3" ? (
    <h3 class={className} {...rest}>
      <slot />
    </h3>
  ) : type === "h4" ? (
    <h4 class={className} {...rest}>
      <slot />
    </h4>
  ) : type === "h5" ? (
    <h5 class={className} {...rest}>
      <slot />
    </h5>
  ) : type === "h6" ? (
    <h6 class={className} {...rest}>
      <slot />
    </h6>
  ) : type === "overline" ? (
    <p class={`overline ${className || ''}`} {...rest}>
      <slot />
    </p>
  ) : type === "subTitle" ? (
    <p class={`subTitle ${className || ''}`} {...rest}>
      <slot />
    </p>
  ) : (
    <p class={`body ${className || ''}`} {...rest}>
      <slot />
    </p>
  )
}
<style lang="scss" define:vars={{ color }}>
  $font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  @mixin typography-base {
    font-family: $font-stack;
    font-style: normal;
    color: var(--color, var(--dark));
  }

  h1 {
    @include typography-base;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.625rem;
    letter-spacing: 0.125rem;
  }

  h2 {
    @include typography-base;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.75rem;
    letter-spacing: 0.08931rem;
  }

  h3 {
    @include typography-base;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.25rem;
    letter-spacing: 0.07144rem;
  }

  h4 {
    @include typography-base;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.125rem;
  }

  h5 {
    @include typography-base;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.10713rem;
  }

  h6 {
    @include typography-base;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.08038rem;
  }

  .overline {
    @include typography-base;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.625rem;
  }

  .subTitle {
    @include typography-base;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: 0.05806rem;
  }

  .body {
    @include typography-base;
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.5625rem;
  }
</style>
