---
import Image from "astro/components/Image.astro";
import prot from "../../../public/assets/exported/prot.webp";
import gold from "../../../public/assets/exported/gold.webp";

const categories = [
  {
    name: "Gold",
    href: "/category/gold",
    bgClass: "bg-yellow-100 hover:bg-yellow-200 hover:border-yellow-600",
    textColor: "text-amber-900",
    img: gold,
    desc: "Anti inflamatorio natural",
  },
  {
    name: "Prot",
    href: "/category/prot",
    bgClass: "bg-green-100 hover:bg-green-200 hover:border-green-600",
    textColor: "text-green-900",
    img: prot,
    desc: "Fuente de poder proteinica",
  },

];
---

<!-- Category Cards -->
<div class="lg:pl-6 grid grid-cols-2 gap-4 pt-4 lg:pb-8 mb-4">
  {
    categories.map(({ name, href, bgClass, textColor, img, desc }) => (
      <a
        href={href}
        class={`group rounded-xl border-2 border-transparent ${bgClass} pt-6 pb-6 px-2 transition-all duration-300 hover:-translate-y-1 hover:shadow-lg`}
      >
        <div class="flex flex-col items-center space-y-2 text-center">
          <div class="flex h-16 w-16 items-center justify-center rounded-full bg-amber-200 transition-transform duration-300 group-hover:scale-110">
            <Image
              src={img}
              alt={name}
              width={500}
              height={500}
              class="object-cover"
              loading="eager"
            />
          </div>
          <p class="text-base font-bold text-gray-900">{name}</p>
          <p class="text-sm text-gray-600">{desc}</p>
          <span class={`text-sm font-semibold ${textColor} hover:underline`}>
            Comprar →
          </span>
        </div>
      </a>
    ))
  }
</div>
