---
import Text from "../atoms/Text.astro";
import { colors } from "../../design-system/colors.js";

interface Props {
    title: string;
    desc: string;
    color: string;
}

const { title, desc, color } = Astro.props;
---

<li class="flex items-start">
    <span class=`text-${color}-600 mr-3 mt-1`>✓</span>
    <div>
        <Text type="body" color={colors.dark} className="font-semibold">
            {title}
        </Text>
        <Text type="body" color={colors.gray} className="text-sm mt-1">
            {desc}
        </Text>
    </div>
</li>